body{
    margin: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 52vw;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("bg.jpg");
    background-size: cover;
    justify-items: center;
}
#group_foto{
      position: relative;
      grid-area: group_foto;
}
#group_foto img{
    width: 52vw; 
    border-radius: 2.3vh; 
    border: snow 0.28vh solid;
    -webkit-box-shadow: 1.4vh 1.4vh 0.9vh 0.2vh rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1.4vh 1.4vh 0.9vh 0.2vh rgba(34, 60, 80, 0.2);
    box-shadow: 1.4vh 1.4vh 0.9vh 0.2vh rgba(34, 60, 80, 0.2);
}
#foto{
    display: grid;
    grid-template-areas: 
    "school the_class"
    "group_foto group_foto"
    "town years";
    grid-template-rows: 2.9vh 1fr 2.9vh;
    grid-template-columns: 1fr 1fr;
    position: relative;
   
}
.text_in_foto{
    font-family: "Monotype Corsiva";
    font-size: 2.8vh;
    text-shadow: 0.09vh 0.09vh 0.9vh black;
}
#town{
    grid-area: town;
    text-align: left;
}
#years{
    grid-area: years;
    text-align: right;
}
#school{
    grid-area: school;
    text-align: left;
}
#the_class{
    grid-area: the_class;
    text-align: right;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
svg circle{
    fill: none;
    pointer-events: all;
    cursor: pointer;
} 
#children_name{
    position: absolute;
    z-index: 10;
    display: None; 
    font-size: 1.6vh;
    }

#children_card{    
    background-color: azure;
    border: 1px solid black;
    border-radius: 10px;
    width: min-content;
    height: 23.2vh;
    overflow: auto;
    -webkit-box-shadow: 5px 4px 3px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 5px 4px 3px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 5px 4px 3px 0px rgba(34, 60, 80, 0.2);    
}
#close_div{
    display: none;
    position: absolute;
    z-index: 15;
    width: min-content;
}
#close-button{
    position: absolute;
    width: 10%;
    height: 10%;
    top: -7%;
    left: 100%;
    cursor: pointer;
}     
#children_card::-webkit-scrollbar{
    width: 0;
}
#card_student_foto{
    width: 150px;
}
#card_name{
    padding: 3px;
    text-align: center;
    border-bottom: 1px dotted black;
}
#card_message{
    padding: 3px;
}


@font-face {
    font-family: "Monotype Corsiva";
    src: url("monotypecorsiva.ttf") format("truetype");
}
#menu{
    display: block;
    width: 1.3vw;
    height: 1.85vh;
    position: absolute;
    top: 0;
    left: 24vw;
}
/*-----------Боковая левая панель с групповыми-------------*/
#groupfoto-panel{
    display: grid;
    grid-template-areas: 
    "groupfoto-container open-groupfoto-button";
    grid-template-columns: 8.5vw 1vw;
    grid-gap: 0.2vh;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    background-color: azure;
    border-radius: 0.26vw;
    -webkit-box-shadow: 0.42vw 0px 4px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0.42vw 0px 4px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0.42vw 0px 4px 0px rgba(34, 60, 80, 0.2);
    z-index: 20;
}
#groupfoto-container{
    display: grid;
    grid-area: groupfoto-container;
    grid-template-rows: 3vh 94vh 3vh;
    grid-template-areas: 
    "previous-groupfoto-button"
    "groupfoto"
    "next-groupfoto-button";
}
#groupfoto{            
    display: block;
    grid-area: groupfoto;
    overflow: hidden;
    width: min-content;          
}
#groupfoto div:first-child{
    margin-top: 0.56vh;
}
#open-groupfoto-button{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: open-groupfoto-button;
    border-left: 0.09vw dotted;
}
#open-groupfoto-button:hover, #next-groupfoto-button:hover, #previous-groupfoto-button:hover{
    -webkit-box-shadow: 0px 2px 4px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 2px 4px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 2px 4px 2px rgba(34, 60, 80, 0.2) inset;
}
.container-groupfoto{
    position: relative;
    border-radius: 0.25vw;
    margin-left: 0.325vw;
    margin-right: 0.325vw;
    margin-top: 1.3vh;
}
.imggroupfoto{
    /* margin-right: 0.3125vw;
    margin-left: 0.3125vw;
    margin-top: 1.3vh; */
    
    width: 7.85vw;
    position: relative;
    display: block;
    -webkit-box-shadow: -1px -1px 3px 0px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: -1px -1px 3px 0px rgba(34, 60, 80, 0.6);
    box-shadow: -1px -1px 3px 0px rgba(34, 60, 80, 0.6);

}        
.groupfoto-button, .archive-button{
    width: 1vw;
    height: 1vw;
}
#open-groupfoto{
    display: none;
}
#next-groupfoto-button{
    grid-area: next-groupfoto-button;
    justify-content: center;
    display: grid;
    border-top: 0.09vw dotted;
    align-items: center;
}
#previous-groupfoto-button{
    grid-area: previous-groupfoto-button;
    justify-content: center;
    display: grid;
    border-bottom: 0.09vw dotted;
    align-items: center;
}
.years-on-preview{
    display: flex;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: gainsboro;
    /* font-size: 0.85vw; */
    text-align: center;
    align-items: center;
    font-size: 1.7vh;
    height: 1.7vh;
    justify-content: center;
}
.container-groupfoto:hover > .years-on-preview{
        height: 3.2vh;
}
#new-order-groupfoto:hover, #new-order-archive:hover{
    background-color: linen;
}
/*----------------------Боковая панель архива событий-----------------*/
#archive-panel{
    display: grid;
    grid-template-areas: 
    "open-archive-button archive-container";
    grid-template-columns: 1vw 8.5vw;
    grid-gap: 0.2vh;
    position: absolute;
    top: 0px;
    right: 0;
    height: 100vh;
    background-color: azure;
    border-radius: 0.26vw;
    -webkit-box-shadow: -0.42vw 0px 4px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -0.42vw 0px 4px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -0.42vw 0px 4px 0px rgba(34, 60, 80, 0.2);
    z-index: 20;
}
#archive-container{            
    display: grid;
    grid-area: archive-container;
    grid-template-areas: 
    "previous-archive-button"
    "archive"
    "next-archive-button";
    grid-template-rows: 3vh 94vh 3vh;
    overflow: hidden;
    width: min-content;          
}
#archive{
    grid-area: archive;

}
#archive div:first-child img:first-child{
    margin-top: 0.56vh;
}
#open-archive-button{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: open-archive-button;
    border-right: 0.09vw dotted;
}
#open-archive-button:hover, #next-archive-button:hover, #previous-archive-button:hover{
    -webkit-box-shadow: 0px 2px 4px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 2px 4px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 2px 4px 2px rgba(34, 60, 80, 0.2) inset;
}
#open-archive{
    display: none;
}
.container-archivefoto{
    position: relative;
    margin-right: 0.3125vw;
    margin-left: 0.3125vw;
    margin-top: 1.3vh;
    border-radius: 0.25vw;
}
.container-archivefoto:hover > .text-on-preview{
    height: 3vh;
}
#next-archive-button{
    grid-area: next-archive-button;
    justify-content: center;
    display: grid;
    border-top: 0.09vw dotted;
    align-items: center;
}
#previous-archive-button{
    grid-area: previous-archive-button;
    justify-content: center;
    display: grid;
    border-bottom: 0.09vw dotted;
    align-items: center;
}
.text-on-preview{
    display: flex;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    background-color: gainsboro;
    font-size: 1.7vh;
    height: 1.7vh;
    width: 100%;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}
.imagearchivefoto, #new-order-archive{

    width: 7.85vw;
    position: relative;
    display: block;
    -webkit-box-shadow: 1px -1px 3px 0px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 1px -1px 3px 0px rgba(34, 60, 80, 0.6);
    box-shadow: 1px -1px 3px 0px rgba(34, 60, 80, 0.6);
}
#archive div:first-child img{
    margin-top: 0.56vh;
}
/*---------------Меню---------------------*/
#menu-container{
    top: 0;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5vh;
    grid-gap: 0.1vw;
    width: 50vw;
}
.menu-item{
    /* padding: 1vh; */
    font-size: 1.5vh;
    display: block;
    text-align: center;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.2) inset;
-moz-box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.2) inset;
box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.2) inset;
    background-color: aliceblue;
}
.menu-item:hover{
    padding: 1vh;
    height: 2.5vh;
    background-color: azure;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.2) inset;
}
/*---------------Черный экран----------------------*/
#blackscreen{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.7;
    z-index: 30;
    display: none;
}

/*----------------Форма заказа архивного фото------------------*/
#order-archive{
    position: absolute;
    z-index: 31;
    background-color: azure;
    padding: 2vh;
    /* display: grid; */
    display: none;
}
#close-order-archive, #close-order-groupfoto, #close-fotogallery{
    position: absolute;
    top: 0;
    right: 0;
    width: 2vh;
    height: 2vh;
    z-index: 5;
}
/*-----------------Форма заказа группового фото-----------------*/
#order-groupfoto{
    position: absolute;
    z-index: 31;
    background-color: azure;
    padding: 2vh;
    /* display: grid; */
    display: none;
}
/*------------------Галерея------------*/
#fotogallery{
    position: absolute;
    z-index: 31;
    padding: 2vh;
    background-color: azure;
    display: none;
    width: 65vw;
    height: 80vh;
}
#fotogallery-container{
    display: grid;
    grid-template-areas: 
    "fotogallery-full-view-foto"
    "fotogallery-preview-foto";
    grid-template-columns: 1fr;
    grid-template-rows: 60vh 20vh;
}
#fotogallery-full-view-foto{
    display: grid;
    grid-area: fotogallery-full-view-foto;
    justify-content: center;
    align-items: center;
}
#fotogallery-preview-foto{
    display: grid;
    grid-area: fotogallery-preview-foto;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    justify-items: center;
}
#fotogallery-preview-foto img{
    width: 5vw;

}